{% extends "velo_layout.html" %}
{% block pageheader %}Settings{% endblock%}
{% block sidebar %}
  <ul class="nav nav-sidebar">
    {{ list_link_tag('settings/index', 'Settings') }}
  </ul>
{% endblock %}
{% block body %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Debugging</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" id="clear-plot-cache">
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Clear plot cache
                </label>
                <div class="col-sm-10">
                    <p>Your browser keeps a copy of the most recent plots
                        you've downloaded.</p>
                    <p>You can click the button below to clear this plot cache.</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-warning">
                        Clear plot cache
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
