{% extends "velo_view/layout.html" %}
{% block pageheader %}Overview <small>Latest runs with DQ analysis</small>{% endblock %}
{% block body %}
<table class="table table-striped overview-table">
  <colgroup>
    <col width="5%" class="table-col-num">
    <col width="14%">
    <col width="10%">
    <col width="10%">
    <col width="8%">
    <col width="8%">
    <col width="8%">
    <col width="8%">
    <col width="29%">
  </colgroup>
  <thead>
    <th>Run</th>
    {#
      The DQDB doesn't return the run's start time, but the time at which 
      the DQ information was inserted into the DB
      We won't show any date or time for now
    #}
    {# <th>Start time</th> #}
    <th>Status</th>
    <th>DQ</th>
    <th>Pedestals</th>
    <th>Noise</th>
    <th>Clusters</th>
    <th>Cross-talk</th>
    <th>Bad channels</th>
    <th>Tracks</th>
    <th>Vertices</th>
    <th>Comments</th>
  </thead>
  <tbody>
    {# Translate DQ levels to messages and Bootstrap classes #}
    {% set classes = ['error', 'warning', 'success'] %}
    {% set labels = ['Error', 'Warning', 'OK'] %}
    {% for row in g.dq_data %}
      <tr>
        <td><a href="{{ url_for('run_view.run_view_builder', run=row.runnr) }}">{{ row.runnr }}</a></td>
        {# <td>{{ row.startdatetime }}</td> #}
        <td><span class="label label-{{ classes[row.lvl] }}">{{ labels[row.lvl] }}</span></td>
        <td>{{ row.score }}</td>
        <td>{{ row['pedestals.score'] }}</td>
        <td>{{ row['noise.score'] }}</td>
        <td>{{ row['clusters.score'] }}</td>
        <td>{{ row['crosstalk.score'] }}</td>
        <td>{{ row['bad_channels.score'] }}</td>
        {# These two scores aren't in the DQDB (yet) #}
        <td>-</td>
        <td>-</td>
        <td>{{ row.comment }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
