{% extends "velo_view/layout.html" %}
{% block pageheader %}Trends{% endblock %}
{% block body %}
  <div class="run-range-form">
    <div class="row">
      <form class="form-inline trending" role="form">
        <div class="col-sm-2">
          <select id="trendable" name="trendable">
            <option disabled selected>Choose a trendable:</option>
            {% for name, title in g.trendables %}
            <option value="{{ name }}">{{ title }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-10">
          <div class="row">
            <div class="col-sm-8">
              <div class="input-daterange input-group">
                <label class="sr-only" for="start-run">First run</label>
                <input type="text" class="input-sm form-control" name="start-run" placeholder="First run (default: 0)">
                <span class="input-group-addon">to</span>
                <label class="sr-only" for="end-run">Last run</label>
                <input type="text" class="input-sm form-control" name="end-run" placeholder="Last run (default: most recent)">
              </div>
            </div>
            <div class="col-sm-4">
              <button type="submit" class="btn btn-block btn-sm btn-info">Inspect</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="trend-plot"></div>
{% endblock %}
